---

---

<!-- Only meant to be used for BaseLayout.astro -->
<header class="bg-[#5995ed] text-[#eff9f0] py-4">
    <div class="max-w-5xl mx-auto flex justify-center items-center">
        <h1 class="text-3xl font-bold">FEEL-FACE</h1>
    </div>
</header>