---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <h2 class="text-2xl font-bold text-center mt-8">Página de Diagnóstico</h2>
    <p class="max-w-3xl mx-auto mt-4 text-center">
        Aqui aun no hay nada pequeño, pero pronto habra un examen o yoquese
    </p>
</BaseLayout>