---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="m-3 bg-white p-3 shadow">
        <p>Página principal en progreso.</p>
        <p>ir a la areas:</p>
        <a href="/areas" class="text-blue-500 underline">Áreas</a>
    </div>
</BaseLayout>
