---
import BaseLayout from "../layouts/BaseLayout.astro";
import PanasForm from "../components/panas/PanasForm";
---

<BaseLayout backgroundColor="bg-white">
    <main class="mx-auto max-w-3xl p-6">
        <h1 class="text-center text-3xl font-bold">
            Cuestionario Emocional (PANAS - C)
        </h1>
        <p class="mt-2 text-center">¡Cuéntanos cómo te sientes hoy!</p>
        <PanasForm client:load />
    </main>
</BaseLayout>
